<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676328670255-s8l2r3ahf8hrk3hgg3ceu8m9mrgeekb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676328670255-s8l2r3ahf8hrk3hgg3ceu8m9mrgeekb2</string>
	<key>API_KEY</key>
	<string>AIzaSyDKvtcNybmv9bWsVASLoyow-aDU2RHC79s</string>
	<key>GCM_SENDER_ID</key>
	<string>676328670255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxmodel.boxmodelApp</string>
	<key>PROJECT_ID</key>
	<string>boxmodelapp-91bae</string>
	<key>STORAGE_BUCKET</key>
	<string>boxmodelapp-91bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676328670255:ios:b1fee42cc9f24f9babf2da</string>
</dict>
</plist>